In [2]:
# ðŸ”§ Ajustando o path para importar mÃ³dulos da pasta src
import sys
import os

sys.path.append(os.path.abspath("../"))
import pandas as pd
import pyarrow.parquet as pq
from src.template_matcher import TemplateMatcher
from src.operation_executor import execute_operation
from src.qa_pipeline import QAPipeline

In [ ]:
# Instanciar a pipeline
pipeline = QAPipeline("../src/templates.json")

# Definir o dataset que vocÃª quer usar
dataset_id = "066_IBM_HR"

# Carregar o dataframe
table = pq.read_table("../data/raw/competition/competition/066_IBM_HR/all.parquet")
df = table.to_pandas()

# Visualizar os dados
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
# Testar se ele mapeia a pergunta para o template certo
matcher = TemplateMatcher("src/templates.json")

question = "Is our average employee older than 35?"
template = matcher.predict_template(question)

print(f"Pergunta: {question}")
print(f"Template mapeado: {template}")